<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}Django Project{% endblock %}</title>

  <!-- Bootstrap -->

  <link href="https://googleapis.com" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />


  <!-- Bootstrap Icons -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

  <!-- Google Font -->

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="{% static 'images/image.png' %}" alt="Logo" />

        Student Management System
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <a class="nav-link" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip" data-bs-title="Home">
            <i class="bi bi-house-fill"></i>
          </a>

          <li class="nav-item">
            <a class="nav-link bi bi-info-circle-fill" href="{% url 'about' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="About">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-envelope-fill" href="{% url 'contact' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Contact">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-bar-chart-fill" href="{% url 'result' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Results">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-book-fill" href="{% url 'course' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Courses">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-people-fill" href="{% url 'employee' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Employees">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-person-fill" href="{% url 'student' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Students">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link bi bi-card-checklist" href="{% url 'list' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Student List">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-grid-3x3-gap" href="{% url 'course_list' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Course List">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-grid-3x3-gap" href="{% url 'dept_details' %}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Department List">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-container">{% block content %} {% endblock %}</div>

  <footer>
    <h5>Django Project</h5>

    <p class="mb-2">Built with ❤️ using Django & Bootstrap 5</p>

    <div>
      <i class="bi bi-github"></i>

      <i class="bi bi-linkedin"></i>

      <i class="bi bi-envelope-fill"></i>
    </div>

    <p class="mt-3 mb-0">© 2026 Django Project-by Krishna Khatri.</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>